.box {
  border-radius: _size(border-radius);
  border: solid 1px _palette(border);
  margin-bottom: _size(element-margin);
  padding: 1.5em;

  > :last-child,
  > :last-child > :last-child,
  > :last-child > :last-child > :last-child {
    margin-bottom: 0;
  }

  &.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

.icon {
  // @include icon;
  border-bottom: none;
  position: relative;

  > .label {
    display: none;
  }
}

.main {
  &.style1 {
    overflow: hidden;
    padding: 0 !important;
    text-align: center;

    > section {
      border-left: solid 1px _palette(border);
      border-top: solid 1px _palette(border);
      float: left;
      // @include padding($size-main-pad-tb, $size-main-pad-lr);
      width: 50%;

      &:nth-child(-n + 2) {
        border-top: 0;
      }

      &:nth-child(2n + 1) {
        border-left: 0;
        clear: both;
      }
    }
  }

  &.style2 {
    > section {
      border-top: solid 1px _palette(border);
      // height: 13em + (_size(element-margin) * 2);
      // margin: 0 0 (_size(element-margin) * 2) 0;
      // padding: (_size(element-margin) * 2) 0 0 0;
      position: relative;
      width: 100%;

      &:first-of-type {
        border-top: 0;
        height: 13em;
        padding-top: 0;
      }

      &:after {
        clear: both;
        content: '';
        display: block;
      }

      .image {
        display: inline-block;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 45%;

        img {
          display: block;
          min-height: 100%;
          min-width: 100%;
          position: absolute;
          width: 100%;
        }
      }

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .content {
        display: inline-block;
        padding: 1.5em 3em;
        vertical-align: middle;
        width: 53%;

        :last-child {
          margin: 0;
        }
      }

      &.left {
        .image {
          float: left;

          img {
            right: 0;
            top: 0;
          }
        }

        .content {
          padding-right: 0;
        }
      }

      &.right {
        .image {
          float: right;

          img {
            left: 0;
            top: 0;
          }
        }

        .content {
          padding-left: 0;
        }
      }

      &.long {
        .content {
          padding-top: 0;
        }
      }
    }
  }
}
