$xlarge: "only screen and (max-width: 1680px)";
$large: "only screen and (max-width: 1366px)";
$medium: "only screen and (max-width: 980px)";
$small: "only screen and (max-width: 736px)";
$xsmall: "only screen and (max-width: 1366px)";
